.res {
    padding: 20px;
    background-color: #e0bbee;
    border: 1px solid #880772;
    border-radius: 5px;
    margin-top: 20px;
  
    pre {
      font-family: 'Courier New', monospace;
      font-size: 14px;
      line-height: 1.5;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }